In [4]:
import json
import pandas as pd
import pandas_gbq as gbq
from google.oauth2 import service_account
from json import dumps

dt = {
  "type": "service_account",
  "project_id": "vid-ai",
  "private_key_id": "ce8f487a7fab8710fb95f6a7d0e24d82951e89c6",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDKw0II/6WcaYNa\ne32pGQfXw+qxT0l4AmWJmuF+/8FT/UqQirjKSN+en5KDKNe5oCsCuKrfcOzP2OhK\nzxhyUq2ouOGDUWJj7CWH6oIZWGVTriMz5H/9thv2qh8RTIP6JQrX0QznrF/5w+1D\nPy0NNI0qCR7yezZrLkq4L6i1192h3e+U+vqf7bZal8sYwU8uopy/Frn1S45z5deh\nyOZT80uKHK+lqFi+gvr45VhaYjl6iyDJnN2qlZhvOlsA3HBvCaCMfduNsoePgCJL\nZmQ4VTZ21f+3+9tytpkOx9uSaHnEdyG+GV7TcUk+6C0OcsxznbpjY39/ht31Kzk/\nsd0qcXL/AgMBAAECggEAIcScAkilKaPu4spPNrK6+iWgN/BW8XwgseaP6GkqptS3\nrtPTi6jQSSgVK+/I4Zq5nwXnOzgg0Eq1AQR1c1CuqDtGH2sV4kNJStX03ci5c1K8\nfR9wa24BQTa63tQp5KZ3pFKl/g1YnI2TPZBPbfQTEG2dcE+x0+7NNdiGFebB+/tg\nwwmXUTwMCk2vM3XXSxa5ZVWmxRmgj4/C2WHKzexKGBksQpEGg+lVQOlcEk9+gtHn\nrTW9q++umEPg1qzbRTQClwUKwEmiBaTbA2jWdcFEKFYONt5SCGvcG3xQvjnPQVDv\nsNVDsQHLk2WbkASWM/wAJIixqxvXYWdOZI6uaq/GDQKBgQDsfM2xJ9h0Tnv4K9No\nqKWLGJxPLDmYdui1RJzVBgBZ4P74Qdc4LyFaOUWsEAu7XugHs0JxWiR2eMKlWDFb\naxu7guIpFTsMDVHCjBjFuVIO8eQOIl/BWAhpXH75wmiZzxv7q7bSz7+8/Gk7LnPe\nkxWwLOcmzMHwQii6uynzg9GV+wKBgQDbfhqtx1Q9dCBixZgelSPdKxSDp1IeTZKg\ng3WMQDC/Yyq5utQRoecVTXckolnx1udyMLf27ekmv7NjdZ0jrGB0NNUt2Rqs4vii\nhH5BlqxTbLwH9llo7lFWwLAaMotryF1jdYTKbAKYRqSjVTV3/Ype5XzSk0fX0lpf\nj2yNkcq7zQKBgBcIZMQ/XD6fskVOh22nF1B/2iF/7jAiTLHy989roTcfydWGHB8V\nwArYjyed/HaIXNL7K5p8rBZ51oNiHpSHzxCpQ7u6nKCk33SyTmtbjFl2R770rBzZ\npSAV6SwMOkHYwSH27HyFzWfrsZgZAyIHc1JQXUcTJERxPSRKvGBCU3RnAoGADfj9\nIcrqpe7akO8bO/cqjU3MxITGSX+OsgEsXn1HnSdm9OPb1DOGTmjcCMz9BNQ1b6OC\nUonaqcjSVqaKFldG3J7wYzbK5+6a/V2J3AsHdVgasDcSggeJzgf+LezBy1658zbr\n+SbfE2qL2In4GWdeg6QASjdt/2M4tZSfyHNbgJECgYEAuGvRMox8bNDBrR7DaJdf\n4tzhjirSTarzaSWnwN/wYRGHN+8/VIFdPdY0G+jkEEaBspDiaQVGPH4CqXgb9/Ga\nnie48iSNZpjdKkAsCazEism2Xliolmg6GKIapSCNbKoqOzI2y/VbTkp+5L9FORP1\nIKaw+SSPVztqtY++T4mlT30=\n-----END PRIVATE KEY-----\n",
  "client_email": "vid-ai-reporting@vid-ai.iam.gserviceaccount.com",
  "client_id": "108777497607443562446",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/vid-ai-reporting%40vid-ai.iam.gserviceaccount.com"
}

with open("bquery-key.json", "w") as f:
    f.write(dumps(dt))

key_path = "bquery-key.json"

credential = service_account.Credentials.from_service_account_file(key_path)

account_query = '''SELECT distinct Actionkey, countryShort, eventItemJson FROM `vid-ai.first_party_data.goldenscent` WHERE DATE(eventDateTime) between "2019-11-09" AND "2019-11-13" AND Actionkey = "purchase"'''
account_data = pd.read_gbq(account_query, project_id=dt['project_id'], index_col=None, col_order=None, reauth=False, auth_local_webserver=False, dialect=None, location=None, configuration=None, credentials=credential, use_bqstorage_api=None, private_key=None, verbose=None)
account_data.head()

  Actionkey countryShort                                      eventItemJson
0  purchase           SA  {"cart.fees_COD":"25  ر.س","cart.fees_shipping...
1  purchase           SA  {"cart.total":"311  ر.س","order.id":"201056214...
2  purchase           SA  {"cart.fees_shipping":"مجانا","cart.subtotal":...
3  purchase           SA  {"product.0.name":"ريد توباكو","user.age":"29"...
4  purchase           SA  {"product.0.qty_in_cart":"1","cart.fees_shippi...

In [67]:
account_data['eventItemJson'][4]

'{"product.0.qty_in_cart":"1","cart.fees_shipping":"19\xa0 ر.س","product.0.id":"1817","user.email":"j3-2009@hotmail.com","product.isAR":"0","user.id":"729753","user.name":"الجوهرة ..","product.0.qty":"993","order_id":"201056479","cart.subtotal":"111\xa0 ر.س","user.age":"25","user.gender":"0","product.0.brand":"كالفن كلاين","product.0.name":"اتيرنتي مومنت - 100 مل","product.0.price":"111"}'

In [7]:
def get_value(x, col) :
    if x is None : return None
    else : return json.loads(x).get(col)

account_data['Brand'] = account_data['eventItemJson'].apply(lambda x: get_value(x, 'product.0.brand'))
account_data['Name'] = account_data['eventItemJson'].apply(lambda x: get_value(x, 'product.0.name'))
account_data['Price'] = account_data['eventItemJson'].apply(lambda x: get_value(x, 'product.0.price'))
account_data['ProductId'] = account_data['eventItemJson'].apply(lambda x: get_value(x, 'product.0.id'))

In [68]:
account_data.head()

,Actionkey,countryShort,eventItemJson,Brand,Name,Price,ProductId
0,purchase,SA,"{""cart.fees_COD"":""25 ر.س"",""cart.fees_shipping...",None,None,None,None
1,purchase,SA,"{""cart.total"":""311 ر.س"",""order.id"":""201056214...",None,None,None,None
2,purchase,SA,"{""cart.fees_shipping"":""مجانا"",""cart.subtotal"":...",جيرلان,مون جيرلان - 100 مل,374,5220
3,purchase,SA,"{""product.0.name"":""ريد توباكو"",""user.age"":""29""...",مانسيرا,ريد توباكو,441,6172
4,purchase,SA,"{""product.0.qty_in_cart"":""1"",""cart.fees_shippi...",كالفن كلاين,اتيرنتي مومنت - 100 مل,111,1817

In [69]:
df = account_data.drop(['eventItemJson'], axis=1)

In [70]:
df.to_excel('E:/Work/SnapChat/ROW/Product/GS_Top5.xlsx')

In [72]:
import numpy as np
df['Brand'].replace('', np.nan, inplace=True)
df['Name'].replace('', np.nan, inplace=True)
df = df.dropna()

In [74]:
dt['Price'] = dt['Price'].apply(pd.to_numeric)

In [75]:
df.head()

  Actionkey countryShort        Brand                    Name Price ProductId
2  purchase           SA       جيرلان     مون جيرلان - 100 مل   374      5220
3  purchase           SA      مانسيرا              ريد توباكو   441      6172
4  purchase           SA  كالفن كلاين  اتيرنتي مومنت - 100 مل   111      1817
5  purchase           SA     هو أمآي          جست يس - 100 مل   111     27940
6  purchase           SA   اليسا اشلي               امبر جريس   111      7133

In [83]:
#df.pivot_table(index =['Brand','Name'],  values ='Price')
df.groupby(['Brand','Name'])['Price'].sum()

Brand               Name
 صوفيا فيرغارا      صوفيا فيرغارا صوفيا - 100 مل                                                                                    196
 عطور هاوس أوف دان  روبي - 50 مل                                                                                                    294
                    كاشمير سافرون معطر للشعر - 50 مل                                                                          105105105
 فوريو              فوريو إيسبادا جهاز لعلاج حبوب البشرة - بينك                                                                     728
                    فوريو لونا ميني 2  فرشاة لتنظيف الوجه - أكوامارين                                                               559
                    فوريو لونا ميني 2  فرشاة لتنظيف الوجه - سن فلاور يالو                                                           559
Alexandre.J         The Collector Black Muscs                                                                                       462
Alyssa Ashley       Musk Extreme                                                                                                 111111
BYS                 Eyeliner Liquid - 01 Black                                                                                       20
Benefit             Benetint Cheek & Lip Stain                                                                                       96
Burberry            Body Tender - 85 ml                                                                                             224
                    My Burberry - 50 ml                                                                                             250
                    My Burberry Black - 90 ml                                                                                    258258
Bvlgari             Man In Black - 100 ml                                                                                           229
                    Petits Et Mamans                                                                                                230
                    Pour Femme - 100 ml                                                                                             336
Cacharel            Noa - 100 ml                                                                                                     24
Calvin Klein        Ck Beauty - 100 ml                                                                            111111111111111111111
                    Escape - 100 ml                                                                                                 111
                    Eternity Moment - 100 ml                                                                                  111111111
                    Euphoria - 100 ml                                                                                            111111
                    Euphoria Intense - 100 ml                                                                                23.2289289
                    One Shock - 200 ml                                                                                           206111
Cartier             Pasha Noire - 100 ml                                                                                            227
Davidoff            The Game - 100 ml                                                                                               111
Deem Perfumes       Baby Powder - 30 ml                                                                                              65
Dior                Addict - 50 ml                                                                                               505410
Diva Lenses         Woody Plano                                                                                                     145
Dolce&Gabbana       Pour Femme Intense - 50 ml                                                                                      244
                    Pour Homme Intenso - 200 ml                                                                                     548
                                                                                                            ...
هيوجو بوس           بوس أورانج ومان - 75 مل                                                                                214214214214
                    بوس بوتليد نايت - 100 مل                                                                                  233233233
                    بوس بوتيلد - 100 مل                                               2142142142142142142142142142142142142142142142...
                    بوس بوتيلد إنتنس - 100 مل                                         25425425425425420.4254254254254254254254254254...
                    بوس نمبر 1 - 125 مل                                                                                             294
                    جست ديفرينت - 125 مل                                                                                            217
                    ذا سينت - 100 مل                                                  25925925925925925925925920.8259259259259259259...
                    ذا سينت إنتنس - 100مل                                             2802802802802802802802802802802802802802802802...
                    ذا سينت فور هير - 100 مل                                                                               276276276276
                    ذا سينت فور هير - 50 مل                                                                                      215215
                    فيم باي فيم - 50 مل                                                                                    182182182182
                    فيم باي فيم - 75 مل                                                                                    226226226226
                    هيجو بوس عود سافرون                                                                                             399
                    هيوجو إيكستريم - 100 مل                                                                                   230230230
                    هيوجو مان - 125 مل                                                                                           192192
وارف                ليليانا - 75 مل                                                                                                 555
ون دايركشن          اور مومنت                                                                                                    168168
ون وورد             مون غلاد - 100 مل                                                                                               149
وود برايف           تراث الأصيل وود - 100 مل                                                                                        645
ويت ان وايلد        برونيتس دو ات بيتر قلم لتحديد الحواجب - Brunettes Do it Better                                                   14
                    فرشاة لارج لظلال العيون                                                                                          11
                    فوتو فوكاس كريم اساس - Nude Ivory                                                                         9.69.69.6
                    ميجا شاين - كلير مسكارا                                                                                          17
                    ميجالاست ليكويد كاتسووت أحمر شفاه بدون لمعة - Give Me Mocha                                                      26
                    ويت ان وايل ميجا محدد عيون سائل - Black                                                                          18
ياداه               أول داي روز ماسك للوجه - 25 مل                                                                                   16
                    بي ماي تينت - بيتش كورال 02                                                                                    3737
                    بي ماي تينت - ريل ريد 03                                                                                         37
                    بي ماي تينت - وانابي بينك 01                                                                                     37
                    كويك تاتو جل للحواجب - آش براون 04                                                                               47
Name: Price, Length: 1173, dtype: object

In [86]:
df.to_excel('E:/Work/SnapChat/ROW/Product/GS_Top_Product.xlsx',index=False)

In [84]:
df.head()

  Actionkey countryShort        Brand                    Name Price ProductId
2  purchase           SA       جيرلان     مون جيرلان - 100 مل   374      5220
3  purchase           SA      مانسيرا              ريد توباكو   441      6172
4  purchase           SA  كالفن كلاين  اتيرنتي مومنت - 100 مل   111      1817
5  purchase           SA     هو أمآي          جست يس - 100 مل   111     27940
6  purchase           SA   اليسا اشلي               امبر جريس   111      7133